@{
    Layout = "AsistenteLayout";
}

<!DOCTYPE html>
<style>
            .display-4{
                font-family: Helvetica; 
                font-weight: bold;
                color: #084e7d !important;  
            }
        </style>
<html lang="en">
    <body style= "background-color: #E6F4F1;">
            <div>
                <h5 class="display-4" style="margin-top: 10px;">Cargar estudiantes</h5><br>
                <p>Se cargaran estudiantes desde un archivo excel al sistema</p>
                <p>Seleccione el archivo Excel a utilizar</p>
            </div><br><br>
            <div><br><br>
            <form method="post" action="@Url.Action("AsistenteCargarEstudiantesConf", "Controlador")" enctype="multipart/form-data" >
            <input type="file" name="archivoExcel" id="archivoExcel" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" /><br><br><br>
                <button style="align-self: center;" class="btn-not" onclick="GetFileName()" >Generar archivo</button><br><br><br>
            </form>
            </div>


    <script type='text/javascript'>
      function GetFileName(){
          // Get your file input (by it's id)
          var fileInput = document.getElementById('archivoExcel');
          // Use a regular expression to pull the file name only
          var fileName = fileInput.value.split(/(\\|\/)/g).pop();
          var inpE = 

          var url = "/Controlador/AsistenteCargarEstudiantesConf";
                request.open("POST", url, false);
                request.setRequestHeader("Content-Type", "application/json");
                request.onreadystatechange = function () {
                    if (request.readyState == 4 && request.status == 200) {
                        var response = JSON.parse(request.responseText);
                    }
                };
                request.send(JSON.stringify(person));
            }
        }
          // Alert the file name (example)
      }
    </script>
    </body>
        
</html>