@{
    Layout = "AsistenteLayout";
}

<!DOCTYPE html>
<style>
            .display-4{
                font-family: Helvetica; 
                font-weight: bold;
                color: #084e7d !important;  
            }
        </style>
<html lang="en">
    <body style= "background-color: #E6F4F1;">
            <div>
                <h5 class="display-4" style="margin-top: 10px;">Cargar estudiantes</h5><br>
                <p>Se cargaran estudiantes desde un archivo excel al sistema</p>
                <p>Seleccione el archivo Excel a utilizar</p>
            </div><br><br>
            <div><br><br>
            <input type="file" id="" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" /><br><br><br>
                <button style="align-self: center;" class="btn-not" type="submit">Generar archivo</button><br><br><br>
            </div>
    </body>
        
</html>