@{
    Layout = "AsistenteLayout";
}

<!DOCTYPE html>
<style>
            .display-4{
                font-family: Helvetica; 
                font-weight: bold;
                color: #084e7d !important;  
            }
        </style>
<html lang="en">
    <body style= "background-color: #E6F4F1;">
        <div class="cont-formulario">
            <div class="d-flex align-items-center box-credenciales" >
                <img src="https://i.ytimg.com/vi/NrIb6NGTonw/maxresdefault.jpg" alt="" class="mr-4" width="900" height="500" style="margin-top: 90px; margin-left: 100px; margin-right: 40px;">
            </div>
            <div>
                <h1 class="display-4" style="margin-top: 90px;">Bienvenido asistente administrativo</h1><br>
                <p>Este es el portal para los asistentes administrativos de los campus o centros académicos del TEC. En el menú de arriba puede seleccionar la sección a la cual desea acceder.</p>
            </div>
        </div>
    </body>
        
</html>