@{
    Layout = "ProfesoresLayout";
}

<!DOCTYPE html>
<style>
            .display-4{
                font-family: Helvetica; 
                font-weight: bold;
                color: #084e7d !important;  
            }
        </style>
<html lang="en">
    <body style= "background-color: #E6F4F1;">
            <div>
                <h5 class="display-4" style="margin-top: 10px;">Evidencias de actividad realizada</h5><br>
                <p>Por favor agregue las evidencias de la actividad que conluyó:</p>
            </div><br><br>
            <div>
                <div class="wrap-input100 validate-input " data-validate="Nombre">
                            <h3 style="font-size: 20px;">Lista asistentes:</h3><br>

                            <img src="" id="img_url" alt="your image" style="width:400px; height:300px;"><br> <br>    
                            <input type="file" id="lista" accept="image/png, image/gif, image/jpeg" onChange="img_pathUrl(this);" multiple="multiple">
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                </div><br>
                <br><br><br>
                <div class="wrap-input100 validate-input " data-validate="Nombre">
                            <h3 style="font-size: 20px;">Participantes:</h3><br>

                            <img src="" id="img_url2" alt="your image" style="width:400px; height:300px;"><br> <br>    
                            <input type="file" id="partic" accept="image/png, image/gif, image/jpeg" onChange="img_pathUrl2(this);">
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                </div><br>
                <div class="wrap-input100 validate-input " data-validate="Nombre">
                            <h3 style="font-size: 20px;">Link de la grabación:</h3><br>
                            <input style="width:500px" type="text" id="grabacion">
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                </div><br><br>
                
                <button style="align-self: center;" class="button-66" type="submit">Marcar como realizada</button><br><br><br>
            </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        function img_pathUrl(input){
            $('#img_url')[0].src = (window.URL ? URL : webkitURL).createObjectURL(input.files[0]);
        }

        function img_pathUrl2(input){
            $('#img_url2')[0].src = (window.URL ? URL : webkitURL).createObjectURL(input.files[0]);
        }
    </script>
    </body>
        
</html>