@{
    Layout = "ProfesoresLayout";
}

<!DOCTYPE html>
<style>
            .display-4{
                font-family: Helvetica; 
                font-weight: bold;
                color: #084e7d !important;  
            }
        </style>
<html lang="en">
    <body style= "background-color: #E6F4F1;">
            <div>
                <h5 class="display-4" style="margin-top: 10px;">Cancelar actividad</h5><br>
                <p>Se cancelará la actividad, indique la razón:</p>
            </div><br><br>
            <div>
                <form id="obser" method="post" action="@Url.Action("marcarCanceladaJustificacion", "Controlador")">
                <textarea id="obs" name="obs" rows="4" cols="50" placeholder="Observación..." form="obser"> </textarea>
                <input type="hidden" value="@ViewBag.act" name="idAct" id="idAct">
                <br><br><br>
                <button style="align-self: center;" class="btn-delete" type="submit">Cancelar actividad</button><br><br><br>
                </form>
            </div>
    </body>
        
</html>