@{
    Layout = "CoordinadorLayout";
}
<!DOCTYPE html>
<html lang="en">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
    function img_pathUrl(input){
        $('#img_url')[0].src = (window.URL ? URL : webkitURL).createObjectURL(input.files[0]);
    };
</script>

<head>
	<style>
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
		input[type=number] {
			-moz-appearance: textfield;
		}
	</style>

    <link href="https://assets.website-files.com/5d9634c22ae9dfc2bb59b291/5d976f9728d2062ef47f4ffb_VD%20Favicon.png" rel="shortcut icon" type="image/x-icon"/>
        <link href="https://assets.website-files.com/5d9634c22ae9dfc2bb59b291/5d976f9a6f21d7f891d74966_VD%20Webclip.jpg" rel="apple-touch-icon"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <script>

            var Webflow = Webflow || [];
            Webflow.push(function() {
                document.getElementsByClassName('date').flatpickr({
                    mode: "multiple",
                    dateFormat: "Y-m-d",
                    defaultDate: "2019-10-01"
                });
            });
        </script>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<form method="post" action="@Url.Action("AgAct", "Controlador")">
	<div class="limiter">
		<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
			<div class="wrap-login100">
                
                <span class="login100-form-logo">
                    <i class="zmdi zmdi-landscape"></i>
                </span>
                <title>Registro</title>
                <h1 style="color:#004879">Agregar actividad al plan </h1>

                <h2>
                    Indique los detalles de esta nueva actividad.
                </h2>
                <div class="cont-formulario">
                    <div>

                        <div class="wrap-input100 validate-input " data-validate="Nombre">
                            <h3 style="font-size: 20px;">Nombre de la actividad: </h3><br>
                            <h3> <input class = "login-entry" type="text" id="nombre" name="nombre"><br> </h3>
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div><br>

                        <div class="wrap-input100 validate-input " data-validate="Nombre">
                            <h3 style="font-size: 20px;">Semana</h3><br>
                            <select name="semana" id="semana" class = "login-entry">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                            </select>
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div><br>

                        <div class="wrap-input100 validate-input " data-validate="Nombre">
                            <h3 style="font-size: 20px;">Tipo: </h3><br>
                            <select name="tipo" id="tipo" class = "login-entry">
                                <option value="1">Orientadora</option>
                                <option value="2">Motivacional</option>
                                <option value="3">Apoyo a vida estudiantil</option>
                                <option value="4">De orden técnico</option>
                                <option value="5">De recreación</option>
                            </select>
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div><br>

                        <div class="wrap-input100 validate-input " data-validate="Nombre">
                            <h3 style="font-size: 20px;">Fecha y hora</h3><br>
                            <h3> <input type="datetime-local" class = "login-entry" id="fechayhora" multiple></h3>
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div><br>

                        <div class="wrap-input100 validate-input " data-validate="Nombre">
                            <h3 style="font-size: 20px;">Responsables</h3><br>
                            <select name="resp" id="resp" class = "login-entry" multiple="multiple">
                                @foreach(var unProfe in ViewBag.listProfes){
                                <option value=@unProfe.codigo>@unProfe.nombreCompleto</option>
                                }
                            </select>
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div><br>
                    </div>



                    <div>
                        <div class="wrap-input100 validate-input " data-validate="Nombre">
                            <h3 style="font-size: 20px;">Días previos para avisos</h3><br>
                            <h3><select name="diasp" id="diasp" class = "login-entry">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                            </select></h3>
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div><br>

                        <div class="wrap-input100 validate-input " data-validate="Nombre">
                            <h3 style="font-size: 20px;">Días en que se notifica:</h3><br>
                            <h3>                                 
                                <input type="text" class="form-control date login-entry" placeholder="Seleccione las fechas">
                            </h3>
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div><br>   

                        <div>
  <p>Select dates</p>
  <input type="date" id="date" />

  <button onclick='return false;' id="myBtn">Add Date</button>
</div>

<div style="padding-top:20px;">
  <select name="dates" id="dates" size="5">
  </select>
</div>

<button type="button" id="finish">Finish</button>      

                        <div class="wrap-input100 validate-input " data-validate="Nombre">
                            <h3 style="font-size: 20px;">Modalidad: </h3><br>
                            <select name="modalidad" id="modalidad" class = "login-entry">
                                <option value="1">Orientadora</option>
                                <option value="2">Motivacional</option>
                                <option value="3">Apoyo a vida estudiantil</option>
                                <option value="4">De orden técnico</option>
                                <option value="5">De recreación</option>
                            </select>
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div><br>

                        <div class="wrap-input100 validate-input " data-validate="Nombre">
                            <h3 style="font-size: 20px;">Afiche:</h3><br>

                            <img src="" id="img_url" alt="your image" style="width:400px; height:300px;"><br> <br>    
                            <input type="file" id="fotografía" accept="image/png, image/gif, image/jpeg" onChange="img_pathUrl(this);">
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div><br>
                    </div>                    
                </div>                
			</div>
            
		</div>
        <div style="display: flex; justify-content: center; align-items: center;">
            <button style="align-self: center;" class="btn-accept" type="submit">Agregar actividad</button>
        </div>
    </div>
	</form>


<script type="text/javascript">


$('option').mousedown(function(e) {
    e.preventDefault();
    var originalScrollTop = $(this).parent().scrollTop();
    console.log(originalScrollTop);
    $(this).prop('selected', $(this).prop('selected') ? false : true);
    var self = this;
    $(this).parent().focus();
    setTimeout(function() {
        $(self).parent().scrollTop(originalScrollTop);
    }, 0);
    
    return false;
});
</script>
<script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-2c7831bb44f98c1391d6a4ffda0e1fd302503391ca806e7fcc7b9b87197aec26.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>

<script type="text/javascript">

$('.date').datepicker({
  multidate: true,
	format: 'dd-mm-yyyy'
});
</script>

<script>
const element = document.getElementById("myBtn");
element.addEventListener("click", function() {  
  const sel = document.getElementById("dates");
  const d = document.querySelector("#date").value;
  
  if (d === null || d === undefined)
  {
    alert("Select a date first.");
  }
  else
  {
    sel.innerHTML += `<option value="${d}">${d}</option>`;
  }
});

// Later on, post the option values from the select list to your backend:

document.querySelector("#finish").addEventListener("click", function() {
  var dates = [];
  for (let o of document.querySelectorAll("#dates option"))
  {
    dates.push(o.value);
  }
});
</script>
	
</body>

</html>