@{
    ViewData["Title"] = "¡Acción realizada!";
    Layout="LayoutInicioSesion";
}

<html>
<div>
    <h1>¡Se ha registrado con éxito!</h1>

    <p> Ahora puede iniciar sesión con sus credenciales </p>
    


</div>
</html>