@{
    ViewData["Title"] = "ProfesoresGuia";
    
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al sistema de profesores guía de Computación</h1>
    <p>Este es un espacio para que podas realizar acciones sobre el proceso de guías.</p>
</div>
